@use '@/assets/styles/mixins.module.scss' as *;
@use '@/assets/styles/variables.module.scss' as *;

.container {
  @include flex_box_custom(center, center, 0px);
  left: 0;
  right: 0;
}

.topHeader {
  position: absolute;
  top: 0;
}

.fixedHeader {
  position: fixed;
  top: -83px;

  background-color: #ffffffe6;
  z-index: 999;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(83px);
  backdrop-filter: blur(5px);
  transition: transform 0.7s ease;
}

.containerHeader {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}

.containerBoxIcon {
  @include flex_box_custom(center, center, 20px);

  .BoxCart {
    position: relative;

    .quantity {
      text-align: center;
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: $primary_color;
      color: #fff;
      font-size: 14px;
      padding: 1px 4px;
      border-radius: 25%;
    }
  }
}

.containerMenu {
  @include flex_box_custom(center, center, 20px);
}

.containerBox {
  @include flex_box_custom(center, center, 20px);
}

.boxIcon {
  @include radius_common(10%);
  @include flex_box_custom(center, center, 15px);
  width: auto;
  cursor: pointer;
}

.menu {
  cursor: pointer;
  padding-top: 8px;
  position: relative;

  .subMenu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    top: 40px;
    border-radius: 10px;
  }
}

.menu::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: $primary_color;
  margin-top: 6px;
  transform-origin: right;
  transform: scale(0);
  transition: transform 300ms, opacity 300ms;
  opacity: 0;
}

.menu:hover::after {
  transform: scale(1);
  opacity: 1;
}
